body {
    background-color: #282828;
    color: #6b6;
    font-family: Arial, Helvetica, sans-serif;
  }
  .game-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; 
  }
  
  #grid {
    display: grid;
    grid-template-columns: repeat(30, max-content);
    width: fit-content;
    border-radius: 5px;
  }
  
  .cell {
    width: 32px;
    aspect-ratio: 1 / 1;
    background-color: #3c5b7c;
    border-right: 1px dashed #282828;
    border-bottom: 1px dashed #282828;
  }
  
  .player {
    background-color: rgb(98, 233, 58);
  }
  
  .goal {
    background-color: rgb(201, 204, 0);
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-button {
    padding: 10px 20px;
    background-color: #f44336; /* Red color */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .modal-button:hover {
    background-color: #d32f2f; /* Darker shade of red */
  }
  
  .modal-button:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px rgba(244, 67, 54, 0.5); /* Adds a light red outer glow */
  }
  
